*.mod
*.pyc
*.o
*.d
*.so
psi*clean
timer.dat
output.dat

# Qt Creator project files
*.config
*.creator
*.creator.user
*.files
*.includes

tests/v2rdm*/timer.dat
tests/v2rdm*/output.dat
tests/v2rdm*/psi*clean
tests/v2rdm*/input.out

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
do-configure
Makefile
__init__.py
v2rdm_casscfConfig.cmake
v2rdm_casscfConfigVersion.cmake
