*.mod
*.pyc
*.o
*.d
*.so
psi*clean
timer.dat
output.dat

# Qt Creator project files
*.config
*.creator
*.creator.user
*.files
*.includes

tests/v2rdm*/timer.dat
tests/v2rdm*/output.dat
tests/v2rdm*/psi*clean

